body{
    background-color: bisque;
    color: lightcoral;
    text-align: center;
}

h1{
    font-size: 4em;
    font-family: serif, cursive;
    font-weight: bold;
    padding: 20px;
    margin:20px;
}

.gallery{
    margin:10px;
}

h2{
    color:rgb(34, 196, 196);
    font-size:2em;
}

p{
    font-size:1.5em;
    margin: 20px;
}