body{
    background-color: bisque;
    color: lightcoral;
    text-align: center;
}

h1{
    font-size: 3em;
    font-family: serif, cursive;
    font-weight: bold;
    padding: 20px;
}

main{
    font-size: 1.5em;
    font-family: cursive, serif;
    padding: 10px;
    margin: 30px;
}

p{
    margin: 60px;
}

.job{
    color: blue;
}

.education{
    color: blue; 
}

ol{
    list-style: lower-roman;
    list-style-position: inside;
}