/* my color platte: 9CE7DD(BLUE) FFE1AC(YELLOW) FDABB3(PINK) E5E6E5(GREY) BCAAA2 (BROWNISH) WHITE
*/



body{
    background-color: bisque;
    color: lightcoral;
    text-align: center;
}

h1{
    font-size: 3em;
    font-family: serif, cursive;
    font-weight: bold;
    padding: 20px;
}

main{
    font-size: 1.5em;
    font-family: cursive, serif;
    padding: 10px;
    margin: 30px;
}

.leyla-pic{
    transform: rotate(90deg);
}

p{
    margin: 60px;
}

.job{
    color: blue;
}

.education{
    color: blue; 
}

p.to-gallery{
    color:rgb(201, 148, 157);
    font-style: italic;
    cursor: pointer;
}

ol{
    list-style: lower-roman;
    list-style-position: inside;
}

